@font-face {
  font-family: "HappySchool";
  src: url('../../assets/DesignView/fonts/HappySchool.ttf');
}

@font-face {
  font-family: "Creepsville";
  src: url('../../assets/DesignView/fonts/Creepsville.ttf');
}

@font-face {
  font-family: "Godzilla";
  src: url('../../assets/DesignView/fonts/Godzilla.ttf');
}

@font-face {
  font-family: "Gruesome";
  src: url('../../assets/DesignView/fonts/Gruesome.ttf');
}

@font-face {
  font-family: "Uniflex";
  src: url('../../assets/DesignView/fonts/Uniflex.ttf');
}

@font-face {
  font-family: "Jambo";
  src: url('../../assets/DesignView/fonts/Jambo.ttf');
}

@font-face {
  font-family: "Toxia";
  src: url('../../assets/DesignView/fonts/Toxia.ttf');
}

@font-face {
  font-family: "Cactus";
  src: url('../../assets/DesignView/fonts/Cactus.ttf');
}

@font-face {
  font-family: "Basketball";
  src: url('../../assets/DesignView/fonts/Basketball.ttf');
}

@font-face {
  font-family: "Bloodlust";
  src: url('../../assets/DesignView/fonts/Bloodlust.ttf');
}

@font-face {
  font-family: "Estave";
  src: url('../../assets/DesignView/fonts/Estave.ttf');
}

@font-face {
  font-family: "Fire";
  src: url('../../assets/DesignView/fonts/FireDance.ttf');

}